:root {
  --background: oklch(0.9383 0.0042 236.4993);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.6420 0.1691 38.5815);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4138 0.0846 259.8759);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9119 0.0222 243.8174);
  --accent-foreground: oklch(0.3791 0.1378 265.5222);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8452 0 0);
  --input: oklch(0.9700 0.0029 264.5420);
  --ring: oklch(0.6397 0.1720 36.4421);
  --radius: 0.5rem;
  --chart-1: oklch(0.6693 0.0706 248.9230);
  --chart-2: oklch(0.6678 0.1546 41.6200);
  --chart-3: oklch(0.5957 0.1807 19.9763);
  --chart-4: oklch(0.7859 0.1342 83.6986);
  --chart-5: oklch(0.4227 0.0732 267.3899);
  --sidebar: oklch(0.9030 0.0046 258.3257);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6397 0.1720 36.4421);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9119 0.0222 243.8174);
  --sidebar-accent-foreground: oklch(0.3791 0.1378 265.5222);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6397 0.1720 36.4421);
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.2435 0 0);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.2435 0 0);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.6420 0.1691 38.5815);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3743 0.0726 258.5213);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.2850 0 0);
  --muted-foreground: oklch(0.5999 0 0);
  --accent: oklch(0.3380 0.0589 267.5867);
  --accent-foreground: oklch(0.8823 0.0571 254.1284);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3290 0 0);
  --input: oklch(0.3092 0 0);
  --ring: oklch(0.6397 0.1720 36.4421);
  --chart-1: oklch(0.7124 0.0606 248.6896);
  --chart-2: oklch(0.6678 0.1546 41.6200);
  --chart-3: oklch(0.5957 0.1807 19.9763);
  --chart-4: oklch(0.7859 0.1342 83.6986);
  --chart-5: oklch(0.4227 0.0732 267.3899);
  --sidebar: oklch(0.2393 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.6397 0.1720 36.4421);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3380 0.0589 267.5867);
  --sidebar-accent-foreground: oklch(0.8823 0.0571 254.1284);
  --sidebar-border: oklch(0.3290 0 0);
  --sidebar-ring: oklch(0.6397 0.1720 36.4421);
}
