@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700&display=swap');

:root {
  --font-inter: 'Noto Serif SC', serif, system-ui;
  --font-sans: 'Noto Serif SC', serif, system-ui;
  --font-serif: 'Noto Serif SC', serif;
  --font-mono: Menlo, ui-monospace, monospace;
  --background: oklch(0.9877 0.0053 95.2913);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(0.9703 0.0110 89.7748);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(0.9877 0.0053 95.2913);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.6280 0.2576 29.2272);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8868 0.1821 95.3373);
  --secondary-foreground: oklch(0.2178 0 0);
  --muted: oklch(0.9187 0.0165 91.6027);
  --muted-foreground: oklch(0.4700 0 0);
  --accent: oklch(0.9551 0.1200 102.8105);
  --accent-foreground: oklch(0.2178 0 0);
  --destructive: oklch(0.5680 0.2001 26.3974);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8580 0.0226 89.8350);
  --input: oklch(0.8580 0.0226 89.8350);
  --ring: oklch(0.6280 0.2576 29.2272);
  --radius: 0.25rem;
  --chart-1: oklch(0.6280 0.2576 29.2272);
  --chart-2: oklch(0.8868 0.1821 95.3373);
  --chart-3: oklch(0.3211 0 0);
  --chart-4: oklch(0.4500 0 0);
  --chart-5: oklch(0.9330 0.1972 104.3285);
  --sidebar: oklch(0.9703 0.0110 89.7748);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.6280 0.2576 29.2272);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9877 0.0053 95.2913);
  --sidebar-accent-foreground: oklch(0.2178 0 0);
  --sidebar-border: oklch(0.8580 0.0226 89.8350);
  --sidebar-ring: oklch(0.6280 0.2576 29.2272);
}

.dark {
  --background: oklch(0.1543 0 0);
  --foreground: oklch(0.9702 0 0);
  --card: oklch(0.2002 0 0);
  --card-foreground: oklch(0.9702 0 0);
  --popover: oklch(0.1543 0 0);
  --popover-foreground: oklch(0.9702 0 0);
  --primary: oklch(0.6347 0.2509 28.4271);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9330 0.1972 104.3285);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.2850 0 0);
  --muted-foreground: oklch(0.7080 0 0);
  --accent: oklch(0.3405 0.0727 106.4442);
  --accent-foreground: oklch(0.9702 0 0);
  --destructive: oklch(0.6636 0.2231 25.7181);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3211 0 0);
  --input: oklch(0.3211 0 0);
  --ring: oklch(0.6347 0.2509 28.4271);
  --chart-1: oklch(0.6347 0.2509 28.4271);
  --chart-2: oklch(0.9330 0.1972 104.3285);
  --chart-3: oklch(0.5000 0 0);
  --chart-4: oklch(0.6500 0 0);
  --chart-5: oklch(0.9551 0.1200 102.8105);
  --sidebar: oklch(0.1800 0 0);
  --sidebar-foreground: oklch(0.9702 0 0);
  --sidebar-primary: oklch(0.6347 0.2509 28.4271);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2500 0 0);
  --sidebar-accent-foreground: oklch(0.9702 0 0);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.6347 0.2509 28.4271);
}
